body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #6a5be2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67vh;
    text-align: center;
    width: 500px;
    border-radius: 30px;
    padding: 40px;
    background-color: #6a5be2;
    position: relative;
}
.App .result {
    text-align: center;
}
.App .result button {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #f00067;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
.App .result h2 {
    margin-bottom: 0;
}
.App .result img {
    width: 150px;
}
.App .progress {
    height: 10px;
    border-radius: 30px;
    background-color: #e8e8e8;
    margin-bottom: 25px;
}
.App .progress__inner {
    height: 100%;
    border-radius: 30px;
    width: 20%;
    background: #12e730;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, #12e730 0%, #00d4ff 100%);
}
.App:before, .App:after {
    content: '';
    display: block;
    /*height: 50px;*/
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.App:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
}
/*.App:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}*/
.App h1 {
    margin: 0;
}
.App ul {
    list-style: none;
    padding: 0;
}
.App ul li {
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.App ul li:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
}


.open-modal-btn {
    background: #fff;
    padding: 18px 25px;
    border-radius: 20px;
    font-weight: 500;
    border: 0;
    outline: none;
    font-size: 22px;
    cursor: pointer;
    line-height: 23px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;
}
.open-modal-btn:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
.open-modal-btn:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   /*background-color: rgba(0, 0, 0, 0.4);*/
    transition: all 0.5s ease-in-out;
}
.modal {
    background-color: #fff;
    width: 70%;
    max-width: 500px;
    max-height: 300px;
    padding: 40px 30px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}
.modal img {
    border-radius: 5px;
    width: 100%;
}
.modal svg {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 24px;
    width: 24px;
    opacity: 0.3;
    cursor: pointer;
}
.modal svg:hover {
    opacity: 1;
}
.overlay.animated {
    opacity: 0;
    visibility: hidden;
}
.overlay.animated .modal {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -30%);
    transition-delay: 0.2s;
}
.overlay.animated.show {
    opacity: 1;
    visibility: visible;
}
.overlay.animated.show .modal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}
